*{ 
    width: 100%;
    height: 100%;
    margin: 0; 
    overflow: hidden; 
  }

.info{
  position: absolute;
  top: 3%;
  left: 3%;
  color: white;
  background: url("images/liu1.png");
  background-size: 100% 100%;
  border:none;
  opacity: 0.9;
  border-radius: 5%;
  visibility: hidden;
  width: fit-content;
  height: fit-content;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  padding: 2%;
}

.nav{
  visibility: hidden;
  display: flex;
	flex-direction: column;
	position: absolute;
	top: 3%;
	left: 83%;
	gap: 10px;
}
.nav button{
	width: 180px;
	height: 60px;
	background: transparent;
	border: none;
	color: white;
	background-image: url(images/button_03.png);
	background-size: 100% 100%; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 10px;
	letter-spacing:2px; 
	opacity: 0.9; 
  transition:transform 0.5s;
  cursor:pointer;
}
.nav button:hover{
  transform: scale(0.8);
}



.container{
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
  z-index: 1;
}
.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}